.bg-navbar {
    background-color: #007BC0 !important;
    min-height: 75px;
}

.fixed-items-navbar {
    position: absolute;
    right: 2rem;
    top: 1.6rem;
}

.img-navbar {
    width: 80px;
}

@media screen and (max-width: 991.9px) {
    .img-navbar {
        position: absolute;
        top: 1rem;
    }

    .navbar-collapse {
        padding: 10px;
        position: relative;
        top: 1rem;
    }
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    border: none !important;
}