<div>
    <div class="mb-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="id_text_tabs" class="nav-link active" onclick="changePostTabs('text')">
                    Message textuel
                </a>
            </li>
            <li class="nav-item">
                <a id="id_file_tabs" class="nav-link" onclick="changePostTabs('file')">Fichier</a>
            </li>
        </ul>
    </div>

    {# <div id="id_display_section_form" class="mb-4 mt-4">
        <hr>
        <p class="fw-bold text-center">Ajouter une section</p>
        <div class="pe-4 ps-4 mb-4 mt-2">
            {% include '/teacher/_section_form.html.twig'
                with {
                    'origin': 'post_form',
                    'id_ue' : id_ue,
                    'sections' : sections
                }
            %}
        </div>
        <hr>
    </div> #}

    <form id="id_form_post_text">
        <fieldset>
            <div class="mb-3">
                <label for="id_title" class="form-label">Titre du message</label>
                <input id="id_title" type="text" name="title" value="" class="form-control" required> <!-- TODO changer la value-->
            </div>

            <div class="mb-3">
                <label for="id_type_post_form" class="form-label">Type de message</label>
                <select id="id_type_post_form" name="post_type" class="form-select" required>
                    <option selected disabled>Sélectionner un type</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="id_content" class="form-label">Détails</label>
                <textarea id="id_content" name="description" class="form-control" required></textarea>
            </div>

            <div class="mb-3">
                <div class="align-items-center d-flex justify-content-between mb-2">
                    <label for="id_section_post" class="form-label">Section du post</label>
                    <button type="button" onclick="displaySectionForm()" class="btn btn-primary">Ajouter une section</button>
                </div>

                <select id="id_section_post" name="id_section" class="form-select" required>
                    <option selected disabled>Choisissez la section du post</option>
                    {% for section in sections %}
                        <option value="{{ section.id }}">{{ section.label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-4">
                <label for="id_classement_post" class="form-label">Position du post (laisser vide pour le placer à la fin)</label>
                <select id="id_classement_post" name="classement" class="form-select" required>
                    <option selected disabled>Choisissez le post suivant</option>
                    <!-- TODO boucle -->
                    <option value="1">Post 1</option> <!-- TODO changer la value -->
                    <option value="2">Post 2</option>
                    <!-- TODO fin boucle -->
                </select>
            </div>

            <button onclick="modalPost()" type="button" class="btn btn-primary w-100">Valider</button>
        </fieldset>
    </form>


    {# <form id="id_form_post_file" style="display: none;">
        <fieldset> #}
            {# <div class="mb-3">
                <label for="id_post_title" class="form-label">Titre du post</label>
                <input id="id_post_title" type="text" name="title" value="" class="form-control" required> <!-- TODO changer la value-->
            </div>

            <div class="mb-3">
                <label for="id_file" class="form-label">Fichier</label>
                <input id="id_file" type="file" name="file" value="" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="id_description" class="form-label">Texte descriptif</label>
                <textarea id="id_description" name="description" class="form-control"><!-- TODO mettre une value--></textarea>
            </div> #}

            {# <div class="mb-3">
                <div class="align-items-center d-flex justify-content-between mb-2">
                    <label for="id_section_post" class="form-label">Section du post</label>
                    <button type="button" onclick="displaySectionForm()" class="btn btn-primary">Ajouter une section</button>
                </div>

                <select id="id_section_post" name="section_post" class="form-select" required>
                    <option selected disabled>Choisissez la section du post</option>
                    {% for section in sections %}
                        <option value="{{ section.id }}">{{ section.label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-4">
                <label for="id_classement_post" class="form-label">Position du post (laisser vide pour le placer à la fin)</label>
                <select id="id_classement_post" name="classement" class="form-select" required>
                    <option selected disabled>Choisissez le post suivant</option>
                    <!-- TODO boucle -->
                    <option value="1">Post 1</option> <!-- TODO changer la value -->
                    <option value="2">Post 2</option>
                    <!-- TODO fin boucle -->
                </select>
            </div>

            <button onclick="modalPost()" type="button" class="btn btn-primary w-100">Valider</button>
        </fieldset>
    </form> #}
</div>