<form id="id_form_section">
    <fieldset>
        <input name="id_ue" value="{{ id_ue }}" hidden>
        <input id="id_section_form" name="id_section" hidden>
        <div class="mb-3">
            <label for="id_name_form_section">Nom de Section</label>
            <input
                id="id_name_form_section"
                type="text"
                name="label"
                class="form-control"
                required>
        </div>

        <div class="mb-4">
            <label for="id_ranking_form_section" class="form-label">
                Position de la section (laisser vide pour la placer à la fin)
            </label>

            <select id="id_ranking_form_section" name="classement" class="form-select">
                <option selected disabled>Choisissez la section suivante</option>
                {% for key, section in sections %}
                    <option value="{{ key + 1 }}" class="ranking-option">{{ section.label }}</option>
                {% endfor %}
            </select>
        </div>

        <button onclick="modalSection('{{ origin }}')" type="button" class="btn btn-primary w-100">Valider</button>
    </fieldset>
</form>
