{% extends 'base.html.twig' %}

{% block title %}Gérer une UE | UTBM{% endblock %}

{% block body %}
    <form class="card p-3 mx-auto">
        <fieldset>
            <div class="mb-3">
                <label for="name" class="form-label">Intitulé de l'UE</label>
                <input id="name" type="text" name="name" value="name" class="form-control" required> <!-- TODO changer la value-->
            </div>
            <div class="mb-3">
                <label for="code" class="form-label">Code l'UE</label>
                <input id="code" type="text" name="code" value="code" class="form-control" required> <!-- TODO changer la value-->
            </div>
            <div class="mb-4">
                <label for="image" class="form-label">Image de l'UE</label>
                <input id="image" type="file" name="image" value="image" class="form-control" required> <!-- TODO changer la value-->
            </div>
            <!-- <div class="mb-5"> -->
                <!-- <label for="teatcherRef" class="form-label">Professeur référent de l'UE</label> -->
                <!-- <select id="teatcherRef" name="teatcherRef" class="form-select" required> -->
                    <!-- <option selected disabled>Sélectionner un professeur</option> -->
                    <!-- TODO boucle -->
                    <!-- <option value="1">Professeur 1</option> TODO changer la value -->
                    <!-- <option value="2">Professeur 2</option> -->
                    <!-- <option value="3">Professeur 3</option> -->
                    <!-- TODO fin boucle -->
                <!-- </select> -->
            <!-- </div> -->
            <button type="submit" class="btn btn-primary w-100">Valider</button>
        </fieldset>
    </form>
{% endblock %}