{% extends 'base.html.twig' %}

{% block title %}Gérer un utilisateur | UTBM{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/user_form.js') }}" defer></script>
{% endblock %}

{% block body %}
    <form class="card p-3 mx-auto mb-5">
        <fieldset>
            <div class="mb-3">
                <label for="id_name" class="form-label">Nom de l'utilisateur</label>
                <input id="id_name" type="text" name="name" value="name" class="form-control" required> <!-- TODO changer la value-->
            </div>
            <div class="mb-3">
                <label for="id_firstname" class="form-label">Prénom de l'utilisateur</label>
                <input id="id_firstname" type="text" name="firstname" value="firstname" class="form-control" required> <!-- TODO changer la value-->
            </div>
            <div class="mb-3">
                <label for="id_mail" class="form-label">Email de l'utilisateur</label>
                <input id="id_mail" type="email" name="mail" value="mail" class="form-control" required> <!-- TODO changer la value-->
            </div>
            <div class="mb-3">
                <label for="id_role" class="form-label">Rôle de l'utilisateur</label>
                <select id="id_role" name="role" class="form-select" onchange="changeRole()" required>
                    <option selected disabled>Sélectionner un rôle</option>
                    <!-- TODO boucle-->
                    <option value=1>Admin</option>
                    <option value=2>Prof</option>
                    <option value=3>Admin & prof</option>
                    <option value=4>Étudiant</option>
                    <!-- fin boucle -->
                </select>
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Mot de passe</label>
                <input id="id_password" type="password" name="password" value="password" class="form-control" required>
            </div>
            <div id="id_container_ues" class="mb-5">
                <label for="id_ues" class="form-label">UE associées à l'utilisateur</label>
                <select id="id_ues" name="ues" class="form-select" multiple> 
                    <option disabled>Sélectionner des UE</option>
                    <option value=1>UE 1</option>
                    <option value=2>UE 2</option>
                    <option value=3>UE 3</option>
                    <option value=4>UE 4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Valider</button>
        </fieldset>
    </form>
{% endblock %}